@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {font-family: 'Segoe UI Regular'; scroll-behavior: smooth;}
/*@font-face {
  font-family: securitaspro_bold;
  src: url(../fonts/securitaspro_bold.otf);
}*/

  @font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: url('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../fonts/Segoe UI Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../fonts/Segoe UI Bold Italic.woff') format('woff');
    }


.fokii-header {background: #F8FBFC; box-shadow: #70a5c733 0 0 12px 7px; padding: 15px 0;}

.fokii-header img {width: 150px;}
.fokii-header ul li {padding:0 15px;}
.fokii-header ul li a {font-weight: 600; color:#146CA4;  }
.fokii-header ul li a:hover {color:#146CA4;  }
.nav-link:focus, .nav-link:hover {color:#146CA4;}


.head-right ul li {display: inline-block; font-family: 'Acme'; 
    font-size: 18px;}
.head-right ul li button{color: #656565; background: #fff; border-radius: 6px; border: 1px solid #656565; font-family: 'Segoe UI Bold';
    font-size: 18px; padding: 8px 30px; text-align: center; }

.fixed#header .login  { text-align: right; }
.fixed#header .login  ul{ text-align: right; }


#header {z-index: 100; width: 100%; padding: 10px 10px;}
.fixed#header{width: 100%; position: fixed; top: 0; left: 0; line-height: 20px; transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;  z-index: 125;}
.fixed#header .logo img{ width: 80px; }

.fixed#header .head-menu .menu ul{ margin-top: 25px; }
.fixed#header  ul li button {padding: 10px 30px;}


.fokii-banner {padding: 70px 0;}

.fokii-banner h1{ font-family: 'Segoe UI Bold'; font-size: 40px; font-weight: 700; line-height: 65px;}
.fokii-banner h1 span {font-family: 'Segoe UI Bold'; font-family: 'Volkhov'; color: #146CA4;}
.fokii-banner p{color: #656565; font-size: 20px; font-size: 18px;  font-family: 'Segoe UI Regular'; font-weight: 600; padding-top: 30px;}



.fokii-banner  img {width: 100%;}
.ban-button ul {list-style: none; margin: 0; padding: 35px  0 0 0 ;}
.ban-button ul li {display: inline-block; margin-right: 10px;}
.ban-button ul li button{border: none; border-radius: 6px; color: #ffff; padding: 14px 35px; position: relative; text-align: center;}
.ban-button ul li:first-child button{ border:2px solid #126ba3;  background: #126ba3; color: #fff; font-weight: 500;}
.ban-button ul li:nth-child(2) button{background: #fff; border:2px solid #126ba3; color: #126ba3; font-weight: 600;}

.ban-button ul li button .fa {position: absolute; left: 10px; top: 18px; font-size: 18px;}
.star-rating  {padding-top: 35px;}
.star-rating .star-img {display: inline-block;}
.star-rating .star-img img {width: 70px;}

.star-rating h4 {font-size: 18px;  font-family: 'Acme'; color: #5a5555;}
.rating {font-size: 18px; font-family: 'Segoe UI Bold'; display: inline-block;}
.rating {color: #656565; padding-left: 10px; display: inline-block;}



.service {padding: 50px 0;}


.service h2 {font-family: 'Segoe UI Bold'; font-size: 32px; line-height: 65px; text-align: center;}
.service h2 span {font-family: 'Segoe UI Bold'; font-family: 'Volkhov'; font-weight: 700; color: #146CA4;}
.service h5 {font-family: 'Acme'; font-size: 18px; font-weight: 600; padding: 0px 15px 0 15px; line-height: 24px; text-align:  center;}

.service .service-in-img {position: relative;}
.service .service-in-img img {width: 100%;}

.service .serv-sm-img img { position: absolute; width: 50%; bottom: -40px; right: -140px;}

.service h3{font-family: 'Segoe UI Bold'; font-size: 26px;  text-align: left;}
.service h4 {font-family: 'Acme'; font-size: 18px; padding-top: 5px;}

.service p {color: #656565; font-family: 'Acme'; font-size: 15px; padding-top: 10px;}

.service ul {list-style: disc; margin:0; padding: 40px 0 0 160px; }
.service ul li {color: #656565; font-family: 'Acme'; font-size: 15px; padding-bottom: 10px; }


.serv-right {position: relative;}
.serv-right img {width: 100px; position: absolute; bottom: 60px; right: 50px;}



.feature  {padding: 70px 0;}
.feature h2 {font-family: 'Segoe UI Bold'; font-size: 32px; line-height: 65px; text-align: center;}
.feature h2 span {font-family: 'Segoe UI Bold'; color: #146CA4;}
.feature h5 {font-family: 'Acme'; font-size: 18px; font-weight: 600; padding: 0px 15px 0 15px; line-height: 24px; text-align:  center;}


.feat-1 img{width: 100%;}
.feat-text {position: relative;}
.feat-text p{font-family: 'Acme'; font-size: 18px; color: #666666; padding-top: 60px; padding-left: 35px; 
    padding-right: 45px;  width: 350px;}
.feat-text p span {font-weight: 700; color: #146CA4;}

.feat-text-img-rgt img {position: absolute; right: 210px; top: 36px; width: 100px;}
.feat-text-img-lft img {position: absolute; left: 0px; bottom: -35px; width: 100px;}



.feat-text-para { font-family: 'Segoe UI Bold'; color: #656565; padding-left: 52px; padding-right: 160px; position: relative;}
.feat-text-para img {width: 80px; position: absolute; left: -40px; top: 10px;}


.feat-per-img img{width: 100px; margin: 0 150px 0 auto; display: block; position: inherit;}

.feat-text-para2  {font-family: 'Segoe UI Regular'; color: #656565; position: relative;}
.feat-text-para2  span{ font-family: 'Segoe UI Bold'; color: #656565; display: block;}

.feat-text-para2 img {width: 80px; position: absolute; right: 150px; bottom: -77px; z-index: 10;}



.feat-2 {position: relative;}

.feat-2 img {width: 620px; left: -200px; top: -14px; position: absolute; padding-top: 25px;}


.advantage {padding: 50px 0;}

.advantage h2 {font-family: 'Segoe UI Bold'; font-size: 32px; line-height:45px;}
.advantage h5 {font-family: 'Acme'; font-size: 18px; font-weight: 600; padding-top:15px; line-height:25px; }


.advantage ul {list-style: none; margin:0; padding: 40px 0 0 0; }
.advantage ul li {color: #656565; font-family: 'Acme'; font-size: 15px; padding-bottom: 10px; padding-left: 30px; position: relative;}
.advantage ul li img {width: 15px; position: absolute; left: 0; top: 2px;}

.advantage-left img {width: 100%; padding-top: 50px;}

.faq {padding: 70px 0;}
.faq h2 {font-family: 'Segoe UI Bold'; font-size: 32px; line-height:45px;}
.faq h2 span {color: #656565; font-size: 16px; font-weight: 600; display:block;}
.faq h6  {color: #656565; font-size: 14px; font-weight: 600; display:block; padding: 30px 0;}

.email {color: #00a53f; font-family: 'Acme'; font-weight: 600; letter-spacing: 2px; text-decoration: underline;}

.card-header {background: none; padding: 30px 0px; cursor: pointer;}
.card { border: none;}
.card-title {font-size: 18px; color: #000 !important; font-weight: 600;}
.accordion .card-header:after {font-family: 'FontAwesome'; content: "\f068"; float: right;  color: #000;}
.accordion .card-header.collapsed:after { content: "\f067";  color: #000;}
.card-header a span{font-size: 32px; font-weight: bold; color: #0fdcda; padding-right: 20px;}
.card-body {padding: 0 0;}
.card-header a{text-decoration: none;}
.card-header {border:none;}
.accord-new {border-bottom:1px solid #f1f1f1; padding-bottom: 15px;}


.footer {background: #f7fbfc; padding:20px 0;}

.footer h3{font-family: 'Segoe UI Bold'; color: #000; font-size: 20px; line-height:30px;}
.footer p{color: #666666;  font-family: 'Acme'; font-weight: 500; padding-top: 20px; padding-right: 80px;}
.footer a{color: #666666;  font-family: 'Acme'; font-weight: 600; padding-top: 50px; display: inline-block; 
    text-decoration: underline;}

.footer img {width: 150px;}

.footer ul {list-style: none; margin: 0; padding: 15px 0 0 0;}
.footer ul li {color: #656565; font-family: 'Acme'; font-size: 15px; padding-bottom: 10px;}
.footer ul li a{color: #656565; padding: 0; font-weight: normal; text-decoration:none; }
.foot-bottom {background: #126ba3; padding: 10px;}

.foot-bottom h6{color: #fff;  font-family: 'Acme'; font-weight: 500; text-align: center; padding: 0; margin: 0;}

.social-foot ul{list-style: none; margin: 0; padding: 0 0 0 0; text-align: right;}

.social-foot ul li {display: inline-block; padding-right: 15px; padding-bottom: 0;}
.social-foot ul li a{padding: 0;}

.social-foot ul li .fa{font-size: 22px; color: #656565;}

.foot-bottom .fa{font-size: 16px; color: #fff; padding-right: 5px;}

 
.login {background: #F8FBFC; padding: 50px 0; position: relative;}

.login h3{color: #383838; font-size: 24px; font-family: 'Segoe UI Regular'; 
    font-weight: 600; font-style: italic; text-align: center;}

.login img {width: 100%; margin-top: 50px; }

.login-right {position: relative;}
.login-right .logo img{width: 150px; margin: 0 auto; display: block;}
.login-right .login-test {color: #000000; font-size: 20px; font-weight: 300; display:block; padding-top:25px;
text-align:center; }


.login-rgt {position: absolute; box-shadow: #c7c7c738 0 0 11px 9px; background: #fff; height: 100%; width: 54%; top: 0; right: 0;}

.login-right ul {list-style: none; margin:0; padding: 0; text-align: center;}
.login-right ul li button{background: #fff; border: none; border: 1px solid #ededed; border-radius: 6px; width: 400px;
 height: 55px; font-weight: 300; color: #656565; line-height: 55px; margin-bottom: 20px; text-align: center;}
    .login-right ul li button:focus {outline: none;}
.login-right ul li button img {width: 25px !important; display: inline-block; margin:-4px 20px 0 0;}
.login-btn {margin: 0 auto; display: block; padding-top: 35px;}

.text-or {font-size: 14px; text-align: center; font-weight: 600; position: relative; z-index: 10000;} 
.text-or:before {content: ''; width: 400px; height: 1px; background: #ececec; position: absolute; left: 124px;
    top: 19px;     z-index: -2;}
.text-or:after {content: ''; width: 180px; height: 1px; background: #fff;  position: absolute;  left: 232px;
    top: 19px; z-index: -1;}

.email-add .form-control { border: 1px solid #ededed; border-radius: 6px; width: 400px; width: 400px; 
    line-height: 40px; margin:0 auto; }
.email-add .form-control:focus {box-shadow: none;}

.email-login-btn button {border: none; border-radius: 6px; background: #126ba3; color: #fff; font-weight: 300; width: 400px; 
    width: 400px; line-height: 45px; margin:0 auto; display: block;}
.email-login-btn button:focus {outline: none;}
.email-login-btn h5{font-size: 15px;}

.email-login-btn .form-check {padding-left: 150px; padding-top: 5px; cursor: pointers;}
.email-login-btn .form-check-input:focus {border-color: #86b7fe; outline: 0;
 box-shadow: 0 0 8px 0rem rgb(168 171 177 / 25%);}

.login-last h6{color: #6b6b6b; font-weight: 300; text-align: center; margin-bottom: 0;}
.login-last a{color: #0f6daa; display: block; font-weight: 300; font-family: 18px; text-align: center; 
    text-decoration: underline; padding-top: 5px;}

.login-text {color: #6b6b6b;  font-weight: 500;  text-align: center;}
.login-text span a{color: #116ca5;  font-weight: 600; text-decoration: underline;}


@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{   }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}   

























































































































